:root {
  --clr-pr-marine-blue: hsl(213, 96%, 18%);
  --clr-pr-purplish-blue: hsl(243, 100%, 62%);
  --clr-pr-pastel-blue: hsl(228, 100%, 84%);
  --clr-pr-light-blue: hsl(206, 94%, 87%);
  --clr-pr-Strawberry-red: hsl(354, 84%, 57%);

  --clr-sc-cool-gray: hsl(231, 11%, 63%);
  --clr-sc-light-gray: hsl(229, 24%, 87%);
  --clr-sc-magnolia: hsl(217, 100%, 97%);
  --clr-sc-alabaster: hsl(231, 100%, 99%);
  --clr-sc-white: hsl(0, 0%, 100%);

  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1.25rem;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  --ff-base: "Ubuntu", sans-serif;
}

@media (min-width: 40em) {
  :root {
    --fs-300: 0.85rem;
    --fs-400: 1rem;
    --fs-500: 2rem;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-base);
  background-color: var(--clr-sc-magnolia);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.text-purplish-blue {
  color: var(--clr-pr-purplish-blue);
}

.text-marine-blue {
  color: var(--clr-pr-marine-blue);
}

.text-cool-gray {
  color: var(--clr-sc-cool-gray);
}

.text-sc-white {
  color: var(--clr-sc-white);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.flex {
  --gap: 1rem;
  display: flex;
  gap: var(--gap);
}

.space-between {
  justify-content: space-between;
}

:where(.space > * + *:not(:first-child)) {
  --space: 1rem;
  margin-top: var(--space);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}
/* Project */

/* Sidebar */

.side-bar-group {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
}

.side-bar {
  padding-block: 2rem;
  justify-content: center;
}

.idx-btn {
  background-color: transparent;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 2px solid var(--clr-sc-white);
  transition: background-color ease-out 200ms;
}

.idx-label {
  display: none;
}

.idx-btn:is(:hover, :focus) {
  background-color: var(--clr-sc-light-gray);
}

.idx-btn-active {
  background-color: var(--clr-pr-light-blue);
}

/* section */

.form-group {
  width: 90%;
  max-width: 30rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-section {
  background: var(--clr-sc-white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: none;
}

.form-section.active {
  display: grid;
}

.section-title {
  margin-bottom: 1rem;
}
/* personal info section */
.input-wrapper {
  --gap: 0;
  flex-direction: column;
}

.input-wrapper > input {
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--clr-sc-light-gray);
  border-radius: 5px;
}

/* plan section */
.plan-group {
  display: grid;
  gap: 1rem;
}
.plan-option {
  padding: 0.875rem 1rem;
  border: 1px solid var(--clr-sc-light-gray);
  border-radius: 0.5rem;
}

.plan-chose {
  border-color: var(--clr-pr-purplish-blue);
  background: var(--clr-sc-alabaster);
}

.duration-option {
  background: var(--clr-sc-alabaster);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding-block: 0.75rem;
}

.duration-btn {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 0;
  padding: 0.25rem;
  height: 1.5rem;
  width: 2.5rem;
  background: var(--clr-pr-marine-blue);
}

.duration-chose {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background: var(--clr-sc-white);
}

.monthly {
  margin-right: auto;
}

.yearly {
  margin-left: auto;
}

/* add ons section */
.addOns-group {
  display: grid;
  gap: 1rem;
}

.addOns-option {
  border: 1px solid var(--clr-sc-light-gray);
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.option-checkmark {
  display: grid;
  place-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background: var(--clr-sc-white);
  border: 1px solid var(--clr-sc-light-gray);
}

.option-checkmark img {
  display: none;
}

.option-desc {
  flex-grow: 1;
}

.addOn-checked {
  border-color: var(--clr-pr-purplish-blue);
}

.addOn-checked > .option-checkmark {
  background: var(--clr-pr-purplish-blue);
  border-color: var(--clr-pr-purplish-blue);
}

.addOn-checked > .option-checkmark > img {
  display: block;
}

/* finish section */
.chose-details {
  background: var(--clr-sc-alabaster);
  border-radius: 0.5rem;
  padding: 1.25rem 1rem;
}

.chose-details {
  display: grid;
}

.sep-line {
  border: 0;
  border-top: 1px solid var(--clr-sc-light-gray);
}

.total-amount {
  padding-inline: 1rem;
}

#summary-plan,
.addOn-title {
  text-transform: capitalize;
}

/* thank you section */
.thankYou-section {
  display: none;
  text-align: center;
  justify-items: center;
}

.thankYou-section > img {
  width: 3.5rem;
  aspect-ratio: 1;
  margin-bottom: 1.5rem;
}

/* bottom */
.page-btn-group {
  justify-content: space-between;
}

.prev-btn {
  background: transparent;
  border: 0;
}

.next-btn {
  padding: 0.5rem 1rem;
  margin-left: auto;
  background: var(--clr-pr-marine-blue);
  border: 0;
  border-radius: 0.5rem;
}

.confirm-btn {
  background: var(--clr-pr-purplish-blue);
}

.hidden-btn {
  display: none;
}

@media (max-width: 45em) {
  .form-group {
    margin-top: -5rem;
  }

  .thankYou-section {
    padding-block: 5rem;
  }

  .page-btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--clr-sc-white);
  }
}

@media (min-width: 45em) {
  .main {
    width: 100%;
    max-width: 70rem;
    height: min(100%, 40rem);
    display: flex;
    background: var(--clr-sc-white);
    padding: 1rem;
    border-radius: 1rem;
    margin-inline: auto;
  }
  /* sidebar */
  .side-bar-group {
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    height: 100%;
    width: clamp(17rem, 20vw, 18rem);
    border-radius: 1rem;
  }
  .side-bar {
    --gap: 2rem;
    flex-direction: column;
    padding: 3rem 2rem;
  }
  .idx-btn-group {
    align-items: center;
  }
  .idx-label {
    display: block;
  }

  /* form-section */
  .form-group {
    max-width: 40rem;
    padding-block: 1rem;
  }
  .form-section {
    padding: 3rem 5rem;
  }
  .section-title {
    margin-bottom: 2rem;
  }

  /* personal section */
  .input-wrapper {
    --gap: 0.5rem;
  }

  .input-wrapper > input {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-sc-light-gray);
    border-radius: 5px;
  }

  .page-btn-group {
    padding-inline: 5rem;
  }

  /* thank you section */
  .thankYou-section {
    flex-grow: 1;
    place-content: center;
  }
  .thankYou-section > img {
    width: 4.5rem;
  }
}

@media (min-width: 55em) {
  .plan-group {
    grid-template-columns: repeat(3, 1fr);
  }

  .plan-option {
    flex-direction: column;
    gap: 3rem;
  }
}
