:root {
  --clr-pr-marine-blue: hsl(213, 96%, 18%);
  --clr-pr-purplish-blue: hsl(243, 100%, 62%);
  --clr-pr-pastel-blue: hsl(228, 100%, 84%);
  --clr-pr-light-blue: hsl(206, 94%, 87%);
  --clr-pr-Strawberry-red: hsl(354, 84%, 57%);

  --clr-sc-cool-gray: hsl(231, 11%, 63%);
  --clr-sc-light-gray: hsl(229, 24%, 87%);
  --clr-sc-magnolia: hsl(217, 100%, 97%);
  --clr-sc-alabaster: hsl(231, 100%, 99%);
  --clr-sc-white: hsl(0, 0%, 100%);

  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 3rem;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  --ff-base: "Ubuntu", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.text-purplish-blue {
  color: var(--clr-pr-purplish-blue);
}

.text-marine-blue {
  color: var(--clr-pr-marine-blue);
}

.text-cool-gray {
  color: var(--clr-sc-cool-gray);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
